@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #0e0e0e;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
    --violet: #8b05de;
    --shadow: #494949a1;
    --grey: #2f2e2e;
    --yellow: #fff237;
    --pink: pink;
    --header-color: #000000b3;
    --nav-color: #00ffee;
}

.light-theme{
    --bg-color: #ffffff;
    --second-bg-color: #50bef555;
    --text-color: #000000;
    --violet: #8b05de;
    --main-color: #1300a4;
    --shadow: #494949a1;
    --grey: #b8ffc7;
    --yellow: #0445ae;
    --pink: rgb(28, 8, 18);
    --header-color: #ff9bcbbf;
    --nav-color: #900062;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--violet);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--header-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    position: absolute;
    width: 120px;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navbar a{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a.active,
.navbar a:hover{
    color: var(--nav-color);
    border-bottom: 3px solid var(--nav-color);
    /* text-shadow: 0 0 15px var(--nav-color); */
}

#menu-bar{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.mode{
    font-size: 2.5rem;
    color: #fff;
}

#mode-icon{
    cursor: pointer;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}


.home .home-img img{
    position: relative;
    width: 35vw;
    border-radius: 1rem;
    cursor: pointer;
    filter: drop-shadow(0 0 25px var(--main-color));
}

.home .home-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 30px var(--main-color));
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    color: var(--main-color);
}

.home-content h3{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Kalam", cursive;
    color: var(--violet);
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.3s ease;
    margin: 2rem 0.2rem;
}

.social-icon a:hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.home-button .btn-cv{
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer; 
    box-shadow: 0 0 5px var(--main-color);
}

.home-button .btn-cv:hover{
    background: var(--main-color);
    color: black;
    transform: scaleX(1.02);
}

.typing-text{
    font-size: 3.4rem;
    font-weight: 600;
    min-width: 300px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: 'Coder';
    color: var(--violet);
    animation: words 20s infinite ease;
}

.typing-text span::after{
    content: '';
    position: absolute;
    background-color: var(--bg-color);
    width: calc(100% +8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid var(--violet);  
    }
}

@keyframes words {
    0%, 20%{
        content: 'Student';
    }
    21%, 40%{
        content: 'Coder';
    }
    41%, 60%{
        content: 'Web Developer';
    }
    61%, 100%{
        content: 'Video Editor';
    }
    81%, 100%{
        content: 'Tech Enthusiast';
        
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95%{
        width: 0;
    }
    0%, 5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%,
    85%, 100%{
        width: calc(100%);
    }
}

#typing-text{
    color: var(--violet);
}

/* _________ABOUT___________ */

.about{
    padding-top: 0;
    padding-bottom: 0;
}

.about-left img{
    width: 600px;
}
.about-box{
    display: flex;
    justify-content: space-around;
}

.about-text{
    margin-top: 4rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: var(--yellow);
}

.about-head{
    font-size: 4rem;
    font-weight: 500;
    word-spacing: 0.6rem;
}

.about-head span{
    color: var(--yellow);
}

/* _________EDUCATION____________ */

.education h1{
    text-align: center;
    font-size: 4rem;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.education .vertical{
    background-color: var(--main-color);
    height: 55rem;
    width: 3px;
}

.education .horizontal{
    background-color: var(--second-bg-color);
    height: 12rem;
    width: 52rem;
    margin: 5rem 3rem;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--main-color);
    display: flex;
    align-items: center;
    
}

.education .horizontal:nth-child(odd){
    position: relative;
}


.education .horizontal:nth-child(even){
    position: relative;
    right: 58rem;
}

.icon-edu{
   font-size: 2.5rem;
   color: var(--violet);
   padding: 1rem;
   background-color: var(--main-color);
   border: 1.5px solid var(--main-color);
   border-radius: 50%;
}

.icon-edu.right{
    position: relative;
    right: 5.4rem;
}

.icon-edu.left{
    position: relative;
    left: 52.6rem;
}

.vertical-text h3{
    font-size:2rem;
    padding: 0.5rem 0; 
    margin-top: 1rem;
    color: var(--violet);
}

.vertical-text .institution-name{
    font-size: 1.5rem;
    font-family: "Kalam", cursive;
    letter-spacing: 0.1rem;
}

.vertical-text .institution-address{
    font-size: 1.2rem;
    font-family: "Kalam", cursive;
    padding-top: 5px ;
    margin-bottom: 2rem;
}

/* ________SKILLS________ */

.skills-head{
    font-size: 5rem;
    /* text-shadow: 0 0 25px var(--main-color); */
}
.skills-head span{
    color: var(--main-color);
}
.skills-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 5rem;
    justify-content: space-between;
}

.skill-sub-heading{
    font-size: 1.8rem;
    color: var(--text-color);
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--main-color);
    margin-left: 1.8rem;
    margin-top: 2rem;
}

/* technical skills */

.skills{
    padding-top: 0;
}

.tech-skills{
    height: 40rem;
    width: 50rem;
    border-radius: 2rem;
}


.skill-imgs img{
    width: 70px;
    padding: 1.2rem;
    background-color: var(--second-bg-color);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px var(--shadow) inset;
    transition: 0.3s ;
}

.skill-imgs img:hover{
    padding: 0.5rem;
    transform: scale(1.2);
}



/* professional skills */
.prof-skills{
    width: 45rem;
}

.prof-skills .skill-sub-heading{
    text-align: center;
}

.radial-bars{
    /* background-color: #817e7e; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 3rem;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 17rem;
    margin-bottom: 1rem;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 12rem;
    height: 16rem;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: var(--second-bg-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
 
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path1{animation: animate-path1 1s 1s linear forwards;}
.path2{animation: animate-path2 1s 1s linear forwards;}
.path3{animation: animate-path3 1s 1s linear forwards;}
.path4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 100;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 200;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: 500;
}

.radial-bar .text{
    font-size: 1.2rem;
    position: relative;
    top: 95%;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 2px var(--main-color);
}

/* ____________PROJECTS__________ */
.project{
    text-align: center;
}
.project-head{
    margin-left: 2rem;
}

.project-head span{
    font-size: 1.5rem;
    color: var(--main-color);
}
.project-head p{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem ;
    /* text-shadow: 0 0 25px var(--main-color); */
    letter-spacing: 1px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 340px;
    
}

.project-box img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 0.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.project-box {
    background-color: var(--grey);
    margin: 1rem;
    padding: 0;
    border-radius: 3rem;
    border: 1.2rem solid grey;
    transition: 0.3s;
}
.project-box:hover{
    transform: scale(1.1);
}

.project-btn{
    padding: 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.project-btn:hover{
    cursor: pointer;
}

.project-btn a{
    color: var(--main-color);
}

.project-desc{
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.project-desc p{
    font-size: 1.6rem;
    font-weight: bold;
}

/* ____CONTACT____ */

.contact{
    display: flex;
    justify-content: space-between;
}

.contact-right{
    background-color: var(--second-bg-color);
    height: 50rem;
    width: 50%;
    border-radius: 2rem;
    box-shadow: 0 0 15px var(--main-color);
}

.contact-right-head{
    font-size: 2.2rem;
    text-align-last: center;
    color: rgb(255, 36, 146);
    margin: 1rem 0;
    
}

.details .info{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 3rem;
}
.info{
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.info input{
    height: 3rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--text-color);
}

.info #msg{
    height: 8rem;
}

.submit-btn{
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    margin-left: 3rem;
    border-radius: 0.5rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    box-shadow: 3px 3px 5px var(--shadow) ;
    /* border: none; */
    cursor: pointer;
    letter-spacing: 1px;
}

.contact-me{
    font-size: 4rem;
    /* text-shadow: 0 0 10px var(--main-color); */
}

.contact-me span{
    color: var(--main-color);
}

.contact-left p{
    font-size: 1.5rem;
    margin-top: 3rem;
    color: var(--text-color);
}

.wp{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.mail{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    margin-top: 1rem;
}



